.content {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

.box2 img {
    height: 450px;

}

@media (min-width: 320px) and (max-width: 425px) {
     .box2 img {
        height: 118px;
    }
}


@media  (min-width: 425px) and (max-width: 768px) {
     
    .box2 img{
        height: 225px;
    }
 

}